pkgbase = mkinitcpio-tailscale
	pkgdesc = mkinitcpio hook to launch Tailscale on systemd or busybox based initramfs
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/dangra/mkinitcpio-tailscale
	arch = any
	license = GPL-2.0-or-later
	depends = mkinitcpio
	source = initcpio-hooks-tailscale
	source = initcpio-install-tailscale
	source = setup-initcpio-tailscale
	sha256sums = ce5df937e08ee7791921aad719413640aca445083694b2f526008a8ad53d4155
	sha256sums = 68d6a305f950f944e858f02032347ea9d3139a873effb67242fdcb2c06cae7ea
	sha256sums = 745a12f097fcfe4a3b6b5a76e6b43fefa84efc93628131b8c87a8a40cd45545f

pkgname = mkinitcpio-tailscale
